* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 2em;
    margin-top: 2em;
    background-color: #f5f5f5;
    font-family: sans-serif;
    width: 50%;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

li {
    list-style: none;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 0.5em;
}

li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.new_task {
    margin-top: 1em;
    text-align: right;
}

.save_task {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

button {
    font-size: 1em;
    border: 1px solid rgb(88, 137, 180);
    border-radius: 5px;
    background-color: rgb(51, 121, 182);
    color: white;
    padding: 0.4em;
}

input[type="text"] {
    font-size: 1em;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 0.5em;
    width: 85%;
}

.task {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
}

.controls div {
    border-radius: 0.1em;
    width: 1em;
    color: lightgray;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: 0.2em;
}

.check {
    background: rgb(32, 178, 115);
}

.delete {
    
}

.task.done .title {
    color: #888;
    text-decoration: line-through;
}

.filters {
    text-align: right;
    margin-bottom: 0.5em;
}

.color{
    width: 0.5em;
    height: 1.2em;
    opacity: 0.8;
    border-radius: 0.2em;
    margin-right: 0.5em;
}   
.color_and_title {
    display: flex;
}